*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
}

.grid {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  margin: 0px;
  border: 4px solid black;
  height: 150px;
  width: 150px;
  font-size: 120px;
  /* justify-content: center; */
  text-align: center;
}

.player1 {
  background-color: red;
}